[DEFAULT]
node_id : testing_node

[testing_node]
mgmt_long_keyindex : True
cryptokey : file#testing_node.crypto
ratchet : file#testing_node.seed

[testing_node-allowlist]
rot : base64#kwDEAZDEIFCO7/p01u46Rbd5gxLdhACi6nREnmkCTz87J8pO840v

[testing_node-denylist]

[testing_node-crypto]
maxage : 316224000
chain : base64#ksSmvIUuuvKd7V5MXi7pSNdpSppfSjubBafS9CDCidlSpjC8r7aigHFIjR0exU3CUfdFIHC9kYeJIXDlrHLJ3GeuAJMAxECRkqZ1c2FnZXOTq2tleS1lbmNyeXB0s2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCBD5qGPFbJmbrG8IXJSrAC24dO6+5Iu4QnCN5QiDoMTxMTRn4ZZJzCT3iPk5c0kf3buQtmhP0y1/AW+EFBvBPYJDEtZh14xHnqgjIYrCwWspluNfmI1HENBRY0WoPpVuDeTCZPLQd0nLwFJnoPEY5OSpnVzYWdlc5Ora2V5LWVuY3J5cHSza2V5LWVuY3J5cHQtcmVxdWVzdLVrZXktZW5jcnlwdC1zdWJzY3JpYmWSpnRvcGljc5GvdGVzdF9lbmNyeXB0aW9ukqdwYXRobGVuAcQgA3pHhX1Cr0vw67bgoYotmEYA//O0RNkl7UZrA8NToSo=
oldkeys : base64#1ziBA2rPqVVkISLx8/x1jseCU2lU/5DbWgMSGnwiPlEX1CQFWdsW8C1zSQp/vdAb7wXdPaI3I3g+R3yOcKSqYPU5vdlwZuP/+pDQ6N0xsrsx50kgkAc7v8Alz7mTve2CyY3YDIUbjUXLCbSkLpEUMdMldP5KGU4I9d8zqEsxOqIHNu/lWIg7d8CQxxaUlZo7+MbzN6QYyj8M/KgMH6YQMB/i2OFnq+293HeM6nWzSYaEu0O7GvH5JiILou4ax65EYOxJZuSPIax3ryrNSLrp+mf0VW825gHnaKyAHE2sHSm5MHQXZ58j9XA2T7B0+GrwqULbgivlLgzD7SScXzrcqJkbYC0a71iOO6d8Qm2Fdw26JSQeyc1YN0MBCn0gdsqcxQV/cWAR8LcSkGaRltsqvqqM3WxapW098ihCuXJb89ssFGnoKW7Fea1IS3UKNk8eh4OLWYVKtlIG/+/gAqe8H0/SPmqEQFBlz+4U0+GjXtbXIqu3aELqJwpTpY+BTSjYAda0aMUb3rMsIVurnPr7Ctd2jvJzRk7DD0JKRYtvJRfOVs0C3vySZcQNqboGSijZjlzQbgpVqH97pSq9ToFv3ddRJjYLXeNk7BJa5EFMp1zXDly1emYD3fEdOiD9FIgmylWx3z/NoutQJy6DOJd0iRpEj5zFCh1RWtlsWvjG0JIlYbxE1+X7L+DRCIOLX9BnAPFCIkoOYIMn2p2Aesmkupwg9v/XaNenfF8oN8YgFplCrex1a1B5dPGReN70+7vfi7/MH183v3eJtxrObbmeN94+yKLQDo2jx2vlWeqo3U1jIVose+qTw4DMhpeMYVr0XhVx/2IEQTkVO5AbWwLmjmwZH0aNYpghdVEU/VvTECiPYaBLnYbYrRTFdJKOVMSBkeTjsfuwcHx+xi/AdX8Jf+g+qhfJPsc=

[testing_node-kafka]
bootstrap_servers : 
security_protocol : SSL
ssl_cafile : /usr/local/anaconda3/envs/openmsi/lib/python3.9/site-packages/certifi/cacert.pem

[testing_node-kafka-consumer]

[testing_node-kafka-producer]

[testing_node-kafka-crypto]

[testing_node-kafka-crypto-consumer]

[testing_node-kafka-crypto-producer]

