[DEFAULT]
node_id : testing_node

[testing_node]
mgmt_long_keyindex : True
cryptokey : file#testing_node.crypto
ratchet : file#testing_node.seed

[testing_node-allowlist]
rot : base64#kwDEAZDEIFCO7/p01u46Rbd5gxLdhACi6nREnmkCTz87J8pO840v

[testing_node-denylist]

[testing_node-crypto]
maxage : 316224000
chain : base64#ksSm8uBNYHoiK7XWra/XVnBtrxOOFpyZqu2Mc17iUavoim2Re4k7BL7f0qiDfgdTQGVNVDjh65cbwAsU4oVs+HL1AJMAxECRkqZ1c2FnZXOTq2tleS1lbmNyeXB0s2tleS1lbmNyeXB0LXJlcXVlc3S1a2V5LWVuY3J5cHQtc3Vic2NyaWJlxCDMe0dHYFjYutctNrgKr0ISMwIVHhQuRhCvVv6bXd65J8TGQ5b5jbXq5gBf1mc0e5EeW2WQL/pJx/aG4xi1URoIhDaCcFyQZRNxtPGvsOkIeQeOGZuyt9lFeZ3FNOUx5PuSDJPLQd1JeSkRkyXEWJKSpnVzYWdlc5Ora2V5LWVuY3J5cHSza2V5LWVuY3J5cHQtcmVxdWVzdLVrZXktZW5jcnlwdC1zdWJzY3JpYmWSpnRvcGljc5GudGVzdF9lbmNyeXB0ZWTEIBr+Hc1Am/xc0IYyci5MA9SDHGG9z7lpT5cQrSq5oEfj
oldkeys : base64#WE9hfMp3z1P08T6MbqML3sTAIt4OzIrHO+teHgUdBgvrt5hz4Za28REf3uQ7fkPPkaTV4CV6fOv4ox8oU+ZlLlvvxFE8BVxdxWpDcvsH9X++ReEQiNl/KZvyY2FQ0+OdT0YCNzxoQ+PP9vcP0wx7Oe6Yy2vDlKlqSZZycV43IlqaZ/vkY/fmkHS5boF4EQL/EWTRCzQBfRgWYzEw3AP9gvTHqlzRc9HaeGZwEv/DiHisWSbXgZCTOTubghPEbnVcNeotV5zuvy+C5KHYZoknO9WUiuGlRCQn/TbAIpxBiNUHUlWe5d7r5qtm4uVVkYsm/JSiipXSFC0IMGl9jlzOUN0xIF5qm4yk8QJU6MOc2BUNqFQMkWLswpMy6dNtS54tb9PjYGrjZuHjjzEavdcJg36MyA+HlPPz1fsqeQNoaK6eCAYuvv7CnJZk9IlNe+oepGpcUSKg4zzfCCOTFYBV0iM0h7F2h3xhu9iYfPFzQYBNutwCoWjvgTbUXirE0V5U4zpd4NMvKvxFYCdIxs/ZaZy8wZKVboPcglzpLkoX9vLaRMxN

[testing_node-kafka]
bootstrap_servers : 
security_protocol : SSL
ssl_cafile : /usr/local/anaconda3/envs/openmsi/lib/python3.9/site-packages/certifi/cacert.pem

[testing_node-kafka-consumer]

[testing_node-kafka-producer]

[testing_node-kafka-crypto]

[testing_node-kafka-crypto-consumer]

[testing_node-kafka-crypto-producer]

