[data_file_directory_uploader]
file_directory = D:/meminizer/TEST_DIR
topic_name     = lecroy_files
n_threads      = 5
chunk_size     = 16384
queue_max_size = 3000
update_seconds = -1
new_files_only = True

[cluster]
bootstrap.servers = pkc-ep9mm.us-east-2.aws.confluent.cloud:9092
sasl.mechanism    = PLAIN
security.protocol = SASL_SSL
sasl.username     = 5AZU24G7K7AKNSYS
sasl.password     = 6H8nMfsoeqJsoBShvtC5GIWHOS6U8La22JDKrWI2BT8wZWKi8qTTHrC3ygFueC2S

[producer]
batch.size       = 200000
retries          = 2
linger.ms        = 100
compression.type = lz4
key.serializer   = StringSerializer
value.serializer = DataFileChunkSerializer
