[data_file_directory_uploader]
file_directory = D:/meminizer/TEST_DIR
topic_name     = oxford_EBSD
n_threads      = 5
chunk_size     = 16384
queue_max_size = 3000
update_seconds = -1
new_files_only = True

[cluster]
bootstrap.servers = pkc-ep9mm.us-east-2.aws.confluent.cloud:9092
sasl.mechanism    = PLAIN
security.protocol = SASL_SSL
sasl.username     = FCEQGDC6EJHH5MOX
sasl.password     = lcW+aFEGq34gpN8FnI7gRE3o3yab9oameF7WX3unt0bfZWMFump5xRiT8HjiCQFz

[producer]
batch.size       = 200000
retries          = 2
linger.ms        = 100
compression.type = lz4
key.serializer   = StringSerializer
value.serializer = DataFileChunkSerializer
